<div id="categories">
    <div class="category">
        <a href="/all">All</a><br>
    </div>
    <div class="category">
        <a href="/blog">Blog</a><br>
    </div>
    <div class="category">
        <a href="/education">Education</a><br>
    </div>
    <div class="category">
        <a href="/professional">Professional</a><br>
    </div>
    <div class="category">
        <a href="/research">Research</a><br>
    </div>
    <div class="category">
        <a href="/writings">Writings</a><br>
    </div>
</div>