<div class="content">
    <!--thumbnail image, if any-->
    {% if post.data.image %}
        {% if index %}
            {% smallImage post.data.image, post.data.alt %}
        {% else %}
            {% wideImage post.data.image, post.data.alt %}
        {% endif %}
    {% endif %}
    <!--title-->
    {% if post.data.title %}
        {% if post.url %}
            <h2 class="title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        {% elsif post.data.url %}
            <h2 class="title"><a href="{{ post.data.url }}">{{ post.data.title }}</a></h2>
        {% else %}
            <h2 class="title">{{ post.data.title }}</h2>
        {% endif %}
    {% endif %}
    <!--date-->
    {% if post.data.date %}
        <i><small>{{ post.data.date | formatDate }}</small></i><br>
    {% endif %}
    <!--related links, if any-->
    {% if post.data.links %}
        <p>
            {% for link in post.data.links %}
                {% icon link.image, link.name, "textsize-image" %}
                <a href="{{ link.url }}">{{ link.name }}</a>&nbsp;
            {% endfor %}
        </p>
    {% endif %}

    {% if post.data.blurb %}
        {{ post.data.blurb }}
        <div style="clear: both;"></div>
    {% else %}
        {{ post.templateContent }}
    {% endif %}
</div>
