---
eleventyExcludeFromCollections: true
title: Blog
---
<div class="blog-list">
{% for post in collections.blog reversed %}
    <a href="{{ post.url }}" class="blog-card">
        <div class="blog-card-content">
            {% if post.data.image %}
                {% blogThumbnail post.data.image, post.data.alt %}
            {% endif %}
            <div class="blog-card-text">
                {% if post.data.title %}
                    <h2 class="blog-title">{{ post.data.title }}</h2>
                {% endif %}
                {% if post.data.date %}
                    <span class="blog-date">{{ post.data.date | formatDate }}</span>
                {% endif %}
                {% if post.data.blurb != blank and post.data.blurb != "" %}
                    <p class="blog-blurb">{{ post.data.blurb }}</p>
                {% elsif post.templateContent %}
                    <p class="blog-blurb">{{ post.templateContent | autoBlurb }}</p>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}
</div>