---
eleventyExcludeFromCollections: true
title: Writings
---
<div class="article-list">
{% for post in collections.writings reversed %}
    <a href="{% if post.data.url %}{{ post.data.url }}{% else %}{{ post.url }}{% endif %}" class="article-card">
        <div class="article-card-content">
            {% if post.data.image %}
                {% articleThumbnail post.data.image, post.data.alt %}
            {% endif %}
            <div class="article-card-text">
                {% if post.data.title %}
                    <h2 class="article-title">{{ post.data.title }}</h2>
                {% endif %}
                {% if post.data.date %}
                    <span class="article-date">{{ post.data.date | formatDate }}</span>
                {% endif %}
                {% if post.data.blurb != blank and post.data.blurb != "" %}
                    <p class="article-blurb">{{ post.data.blurb }}</p>
                {% elsif post.templateContent %}
                    <p class="article-blurb">{{ post.templateContent | autoBlurb }}</p>
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}
</div>